@font-face {
	font-family: Helvetica Neue;
	font-display: swap;
	src: url("../fonts/Helvetica Neue.woff2") format("woff2"), url("../fonts/Helvetica Neue.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
